{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/49d1c1eed7.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href={% static 'main.css' %}/>
    <title>{% block title %} Base {% endblock %}</title>
</head>
<body>
    <div id="app">        
        <main>
            {% if user.is_authenticated %}
            <nav>
                <h1>[[message]]</h1>
                <div id="nav_buttons">
                    <p><a href="{% url 'home' %}">Home</a></p>
                    <p><a href="{% url 'logout' %}">Logout</a></p>
                </div>
            </nav>
            {% endif %}

            {% block content %}
            {% endblock %}
        </main>
    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/site.js' %}"></script>
    
</body> 
</html>