{% extends 'base.html' %}

{% block title %}Competition Detail{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% csrf_token %}

<div class="competition_detail">

    
    <a class="splash" href="/users/competitions/" >
        <i class="fas fa-chevron-left"></i></a>
    <br>
    <div v-if="current_competition.creator != currentUser.id">
        <div v-if="!participants_contains()" >
            <button @click="join_competition()">Join Competition</button>
        </div>
    </div>
    
   

    <div id="comp_edit" v-if="current_competition.creator === currentUser.id">                
        <h1><button class="green_btn2" @click="edit_competition()"><i class="fas fa-ellipsis-h"></i></button></h1>                       
    </div>

    <div class="comp_detail_title">
        <h1 id="comp_title">[[current_competition.title]]</h1>
    </div>


    <div v-if="comp_exercise_length()===0">
        <div v-if="current_competition.creator === currentUser.id">  
            <div v-if="in_range(current_competition.start_date, current_competition.stop_date)">              
                <button v-if="competition_builder===false" @click="creator_joins_comp">Start Building</button>
            </div>
        </div>
    </div>

    <div v-if="competition_builder===true">
        <button class="black_btn" @click="delete_competition()">Delete Comp</button>
        <button class="green_btn" @click="toggle_exercises()">List</button>        
        <button class="green_btn" @click="toggle_categories()">Categories</button>
        <input type="text" @keydown.enter="search_exercise()" v-model="search_text" placeholder="Exercises"/>
        <button class="green_btn" @click="search_exercise()"><i class="fas fa-search"></i></button>
        <template v-if="show_allExercises===true">                        
            <exercise-item id="ex_list_div"
            :allexercises="allExercises"
            ></exercise-item>         
        </template>
        <template v-if="show_allCategories===true">
            <category-item id="category_div"
            :allcategories="allCategories"
            ></category-item>
        </template>
        <div v-if="show_results===true">
            <div v-for="exercise in search_results">
                <p>[[exercise.name]]</p>
                <comp-exercise-point-input :exercise="exercise" ></comp-exercise-point-input>
            </div>
        </div>
    </div>

    <div class="leaderboard">
        <h2 id="countdown" v-html="countdown_time"></h2>
        <h3>Leaderboard</h3>
        <div v-for="competitor in current_competition.score_details">
            <p>[[competitor.user_details.username]]  [[competitor.score]] pts.</p>
        </div>  
    </div> 

    <h3>Starts:</h3>
    <p v-html="date_format(current_competition.start_date)"></p>
    <h3>Ends:</h3>
    <p v-html="date_format(current_competition.stop_date)"></p>
    
    <div id="notes">
        <h3>Ground Rules: </h3> 
        <p>[[current_competition.notes]]</p>
    </div>    

    <div v-if="comp_exercise_length()!=0">
        <h3>Competition Exercises:</h3>
        <div id="scoring_div" v-for="exercise in current_competition.comp_exercise_details">
            <h4>[[exercise.exercise_detail.name]]  [[exercise.exercise_points]] pts.</h4>
            <div v-if="competition_builder===true">
                <button class="black_btn3" @click="delete_comp_exercise(exercise)"
                v-if="current_competition.creator === currentUser.id">
                <i class="fas fa-times"></i></button>
            </div>
        </div> 

        <hr>    

        <div v-if="participants_contains()"> 
            <div v-if="in_range(current_competition.start_date, current_competition.stop_date)">           
                <button class="green_btn" v-if="comp_session===false" 
                @click="new_comp_session(current_competition)">New Session</button> 
                <button class="black_btn" v-if="comp_session===true"
                 @click="cancel_workout()">Cancel</button>  
            <div>                   
        </div>

        <div v-if="comp_session===true">            
            
            <button class="green_btn" v-if="reversed_sessions[0].exercise_instance_detail.length>0"
            @click="score_upload(current_competition)">Finish</button>   
            
            <h3>Current Session:</h3>
            
            <session 
            :currentuser="currentUser"
            ></session>            
            

            <div id="start_comp_exercise" v-for="exercise in current_competition.comp_exercise_details">
                <button v-if="!session_contains(exercise)" @click="new_comp_exercise_instance(exercise)">
                <i class="fas fa-plus"></i>
                [[exercise.exercise_detail.name]] | [[exercise.exercise_points]] pts.</button>
                
            </div>
        </div>

        <h3>Session History:</h3>

        <div v-for="session in current_competition.session_details">
            <div class="comp_session_wrapper">
                <h3>[[session.user_detail[0].username]]</h3>
                <div v-if="session.user_detail[0].username === currentUser.username">
                    <button class="black_btn3" @click="delete_workout(session)">
                    <i class="fas fa-trash-alt"></i></button>
                </div>
            </div>

            <div v-for="exercise in session.exercise_instance_detail">
                <h5>[[exercise.exercise_detail.name]]</h5>
                <div v-for="set in exercise.set_detail">
                    <p>Set [[set.set]]: [[set.reps]] reps @ [[set.weight]] lbs.</p>
                </div>
            </div>
            
            <hr>
        </div>

        <div v-if="participants_contains()">
            <button class="black_btn" @click="quit_competition()">Quit Competition</button>
        </div>
    </div>    
     
</div> 

{% else %}
<a class="splash" href="/" >
    <i class="fas fa-chevron-left"></i></a>
<h1>It doesn't look like you are currently logged in</h1>
{% endif %}
{% endblock %}