{% extends 'base.html' %}

{% block title %}Competitions{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% csrf_token %}
<h2>Competitions</h2>
<h2><a href="http://127.0.0.1:8000/">Home</a></h2>



<div>
    
    <button @click="new_competition_time()">New Competition</button>
    <div v-if="competition_builder===true">
        <input type="text" v-model="session_name" placeholder="Competition Name"/>
        <br>
        <textarea v-model="search_text" placeholder="Ground Rules"></textarea>
        <input type="date" v-model="start_date" placeholder="Start Date mm/dd/yyyy"/>
        <input type="date" v-model="stop_date" placeholder="Stop Date mm/dd/yyyy"/>
        <button @click="start_competition()">Boom</button>
    </div>
    <div v-for="comp in allCompetitions">
        <h2><a :href="`/users/competition_detail/${comp.id}/`">[[comp.title]]</a></h2>
        
       
        <p>Start: [[comp.start_date]]</p>
        <p>Start: [[comp.stop_date]]</p>
       
        <h4>Scoring:</h4>
        <div v-for="exercise in comp.comp_exercise_details">
            <h5>[[exercise.exercise_detail.name]] : [[exercise.exercise_points]] pts.</h5>
        </div>
    
        <h4>Competitors:</h4>
        <div v-for="competitor in comp.participant_details">
            <p>[[competitor.username]]</p>
        </div>
        <hr>
        
    </div>
</div>
{% else %}
<h1>It doesn't look like you are currently logged in</h1>
{% endif %}
{% endblock %}