{% extends 'base.html' %}

{% block title %}Competitions{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% csrf_token %}

<div class="competition_container"> 
    <h2>Competitions</h2>
    
    <button class="new_comp" v-if="competition_builder===false"
    @click="new_competition_time()">New Competition</button>
    <br>
    
        
    <input v-if="competition_builder===false" @keydown.enter="search_competitions()" 
    type="text" v-model="search_text" placeholder='Competitions'/>

    <button class="green_btn" v-if="competition_builder===false" @click="search_competitions()">
    <i class="fas fa-search"></i></button>

    <button class="green_btn" v-if="show_results===true" @click="show_results=false">Show all</button>

    
    <div class="competition_builder" v-if="competition_builder===true">
        <input type="text" v-model="session_name" placeholder="Competition Name"/>
        <br>
        <textarea v-model="search_text" placeholder="Ground Rules"></textarea>
        <br>
        <p>Start Date:</p>
        <input type="datetime-local" v-model="start_date" placeholder="Start Date"/>
        
        
        <p>Stop Date: </p>
        <input type="datetime-local" v-model="stop_date" placeholder="Stop Date"/>
        <br>
        <button class="green_btn" @click="competition_builder=false">Cancel</button>
        <button class="green_btn" @click="start_competition()">Save Competition</button>
    </div>

    <div v-if="show_results===true">
        {% comment %} <h3 v-for="comp in search_results "><a class="green_btn" :href="`/users/competition_detail/${comp.id}/`">[[comp.title]]</a></h3> {% endcomment %}
        <div v-for="comp in search_results" class="competitions">
            <h3><a class="green_btn" 
                :href="`/users/competition_detail/${comp.id}/`">[[comp.title]]</a></h3></h3>
                <div v-for="competitor in comp.score_details">
                    <p>[[competitor.user_details.username]] : [[competitor.score]] pts.</p>
                </div>
        </div>
    </div>

    <div v-if="show_results===false">
        <div v-for="comp in reversed_competitions" class="competitions">
            
            <h3><a class="green_btn" 
            :href="`/users/competition_detail/${comp.id}/`">[[comp.title]]</a></h3>

            <div v-for="competitor in comp.score_details">
                <p>[[competitor.user_details.username]] : [[competitor.score]] pts.</p>
            </div>
        </div>
        
    </div>
</div>

{% else %}
<h1>It doesn't look like you are currently logged in</h1>
{% endif %}
{% endblock %}