{% extends 'base.html' %}

{% block title %}Friends{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% csrf_token %}

<div class="friends">

    <h2>Friends</h2>

    <input type="text" @keydown.enter="search_users()" v-model="search_text" placeholder="Search"/>
    <button @click="search_users()">Search Users</button>
    <br>
    <button v-if="user_results.length!=0" class="set_btns" @click="clear_user_search"><i class="fas fa-times"></i></button>

    <div v-for="user in user_results">
        <div v-if="user.id != currentUser.id">
            <p v-if="currentUser.friends_list.map(friend => friend.id).includes(user.id)">[[user.username]]</p>  

            <div v-if="!currentUser.friends_list.map(friend => friend.id).includes(user.id)">
                <p><a :href="`send_friend_request/${user.id}/`">[[user.username]] <i class="fas fa-user-plus"></i></a></p>
            </div>
            <hr>
        </div>
    </div>

   
    <div v-if="currentUser.request_in_details.length!=0">
        <h3>Friend Requests</h3>
        <div v-for="user in currentUser.request_in_details">
            <p><a :href="`accept_friend_request/${user.id}/`">Accept</a>
                <a :href="`deny_friend_request/${user.id}/`">Deny</a> [[user.username]]</p>
        </div>
    </div>

    <div v-if="currentUser.request_out_details.length!=0">
        <h3>Sent</h3>
        <div v-for="user in currentUser.request_out_details">
            <p>[[user.username]] | Pending</p>
        </div>
    </div>

    <div>
        <h3>[[currentUser.username]]'s Friends <button class="set_btns" @click="toggle_friend_edit()"><i class="fas fa-ellipsis-h"></i></button></h3>
        <div v-for="user in currentUser.friends_list">
            <p v-if="friend_editor===false">[[user.username]]</p>
            <button v-if="friend_editor===true" @click="delete_friend(user)" >[[user.username]] <i class="fas fa-user-minus"></i></button>
        </div>
        
    </div>
    
</div>
{% else %}

<p>Please login to view this page</p>

{% endif %}
{% endblock%}