{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% csrf_token %}
<div class="history_container">

    <div class="history">
        <h2><a href="http://127.0.0.1:8000">Home</a></h2>
        <h1>History</h1>

        <div v-for="session in reversed_sessions">
            <div id="my_sessions">
                <h2>[[session.name]]</h2>
                <p>[[session.date]]</p>
                <div v-for="exercise in session.exercise_instance_detail">
                    <h4>[[exercise.exercise_detail.name]]</h4>
                    <div v-for="set in exercise.set_detail">
                        <p>Set [[set.set]]: [[set.reps]] reps @ [[set.weight]] lbs.</p>
                    </div>
                </div>
                <h3><a @click="delete_workout(session)"><i class="fas fa-trash-alt"></i></a></h3>
            </div>
            
        </div>
    </div>
</div>
{% else %}
<h1>It doesn't look like you are currently logged in</h1>
{% endif %}
{% endblock %}