{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

   
    {% if user.is_authenticated %}

        <div class="home">
            
            <div class="home_main">
                {% csrf_token %}
                <h1>Hi {{user.username}}!</h1>
                
                
                <div id="start_work">
                    <div v-if="current_session===false">
                        <h2><a class="green_btn" @click="toggle_new_workout()">New Workout</a></h2>
                        <h2><a class="green_btn" @click="resume_workout()">Resume Workout</a></h2>
                        <h2><a class="green_btn" href="/users/competitions/">Competitions</a></h2>
                        <h2><a class="green_btn" @click="toggle_temps()">My Templates</a></h2>
                        <h2><a class="green_btn" @click="start_template()" >New Template</a></h2>
                        <h2><a class="green_btn" href="/users/friends">Friends</a></h2>
                        <h2><a class="green_btn" href="/users/profile">Profile</a></h2>
                        <h2><a class="green_btn" href="/users/history">History</a></h2>
                        
                        
                        
                    </div>
                    <div v-if="current_session===true">
                        <div class="find_exercises">
            
                            <input id="searchinput" type="text" @keydown.enter="search_exercise()" v-model="search_text" placeholder="Search"/>
                            <button @click="search_exercise()">Search</button>
                            <br>
                            <button @click="toggle_categories()">Categories</button>
                            <button @click="toggle_exercises()">List</button>
                            <button @click="toggle_temps()">Templates</button>
                        </div>
                        
                        <session 
                        :currentuser="currentUser"
                        ></session>
                        
                    </div>

                    
                    <div v-if="create_session===true">
                        <div v-if="current_session===false">
                            <input type="text" v-model="session_name" id="session_name" @keydown.enter="newSession()" placeholder="Session Name"/>
                            <button @click="newSession()">Create</button>
                            <button @click="create_session=false">Cancel</button>
                        </div>
                    </div>
                    
                    
                </div>

                <div id="current_work">

                    <div id="template_creator">
                        <div v-if="template_start===true">
                            <hr>
                            <input type="text" v-model="search_text" @keydown.enter="search_exercise()" placeholder="Search">
                            <button class="green_btn" @click="search_exercise()">Search</button>
                            <br>
                            <button class="green_btn" @click="toggle_exercises()">List</button>
                            <button class="green_btn" @click="toggle_categories()">Categories</button>
                            <br><br>
                            <input type="text" v-model="new_template_name" @keydown.enter="save_template()" placeholder="Template Name">
                            <button class="green_btn" @click="save_template()">Save</button>
                            <br>
                            <h3 v-for="item in template_exercise_list">[[item.name]]
                                <button class="black_btn3" @click="remove_from_template(item)"><i class="fas fa-times"></i></button>
                            </h3>
                        </div>
                    </div>
                    <br>
                    <template v-if="show_allExercises===true">                        
                        <exercise-item id="ex_list_div"
                        :allexercises="allExercises"
                        ></exercise-item>                        
                    </template>

                    <template v-if="show_allCategories===true">
                        <category-item id="category_div"
                        :allcategories="allCategories"
                        ></category-item>
                    </template>
                    
                    <template v-if="show_results===true">
                        <div id="search_div">
                            <a @click="close_search"><i class="fas fa-times"></i></a>                            
                            <div>
                                <div v-for="result in search_results">
                                    <div v-if="template_start===false">
                                        <p><a @click="add_result(result)"><i class="fas fa-plus"></i> [[result.name]]</a></p>
                                    </div>
                                    <div v-if="template_start===true">
                                        <p><a @click="add_to_temp(result)"><i class="fas fa-plus"></i> [[result.name]]</a></p>
                                    </div>
                                </div>
                            <div>
                        </div>
                    </template>
                </div>

                <div id="my_temps">
                    <div v-if="show_my_temps===true">
                        <div v-if="currentUser.workout_templates.length===0">
                            <p>You don't have any templates saved..</p>
                        </div>
                        <div v-for="temp in reversed_templates">
                            <template-editor :temp="temp"></template-editor>                           
                            <button class="green_btn" v-if="current_session===true" @click="exercises_from_temp(temp)">Start Session</button>
                            <hr>          
                        </div>
                    </div> 
                </div>                
                
            </div>
        </div>

            
            


            
        {% else %}
        <div class="logged_out_container">
            <div class="logged_out">
                <h1>lift trackr</h1>
                <a class="green_btn" href="{% url 'login' %}">Login</a> 
                <a class="green_btn" href="{% url 'users:signup' %}">Sign Up</a> 
                <a class="green_btn" href="{% url 'users:reset_password' %}">Forgot Password?</a>
            </div>
        </div>
        {% endif %}
        

    {% endblock %}


