{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="logged_out_container">
    <div class="logged_out">
        <a class="splash" href="http://127.0.0.1:8000/" ><i class="fas fa-chevron-left"></i></a>
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'users:signup' %}">Sign Up</a>
            <a href="{% url 'users:reset_password' %}">Forgot Password?</a>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %} 